body{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  }
  nav{
    font-family: 'New Tegomin', serif;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  .contant11-top-bg{
    background-image: url("./images/logo2.jpg");
  }